<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading && data && !data.length" class="w-100 text-center mt-1">
  <i class="fas fa-folder-plus" style="font-size: 100px"></i>
  <h3>
    Aún no tienes niguna colección.
    <br>
    Empieza por crear una.
  </h3>
  <button class="btn btn-primary" data-toggle="modal" data-target="#newCollectionModal">
    <i class="fas fa-plus"></i> Nueva Colección
  </button>
</div>

<div *ngIf="!loading && data && data.length" class="row mb-1 pb-2 gray-border-bottom">
  <div class="col-sm col-12 text-center text-sm-left">
    <h4>
      Mis Colecciones
    </h4>
  </div>
  <div class="col-sm col-12 text-center text-sm-right">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newCollectionModal">
      <i class="fas fa-plus"></i> Nueva Colección
    </button>
  </div>
</div>

<div *ngIf="!loading && data && data.length" class="collections-container">
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6" *ngFor="let collection of data">
        <div class="card m-2" style="cursor: pointer;" (click)="changeCollection(collection._id)">
          <span style="position: absolute; right: 10px; top: 5px;">
            <i class="fas fa-ellipsis-v"></i>
          </span>
          <div class="card-body">
            <h5 class="card-title">{{collection.name}}</h5>
            <div class="card-img-top" [innerHTML]="getCollectionType(collection.type)"></div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- NEW COLLECTION -->
<div class="modal fade" id="newCollectionModal" tabindex="-1" role="dialog" aria-labelledby="newCollectionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Colección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeCollectionModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <form class="ng-form form-box" id="newCollectionForm" name="newCollectionForm" (ngSubmit)="collectionForm.form.valid && createCollection(closeCollectionModal, collectionForm)" #collectionForm="ngForm" novalidate autocomplete="off">

            <div class="input-group p-3">  
              <input class="form-control"
              [ngClass]="{ 'input-error-border': (collectionForm.submitted && !collectionName.value) }"
              type="text" id="collectionName" placeholder="Nombre" name="collectionName" [(ngModel)]="newCollection.name"
              #collectionName="ngModel" required aria-describedby="basic-addon1">

              <div class="input-error" *ngIf="collectionForm.submitted && !collectionName.value">
                Ingresa un nombre.
              </div>

            </div>
            <div class="input-group p-3">
              <select class="form-control" id="collectionType" placeholder="Tipo" name="collectionType"
              [(ngModel)]="newCollection.type" #collectionType="ngModel">
                <option [value]="type.id" *ngFor="let type of collectionTypes">{{type.name}}</option>
              </select>
            </div>

          </form>
      </div>

      <div class="modal-footer">
        <button type="submit" form="newCollectionForm" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
